@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Pretendard", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 980px;
}